<form action="" method="get">
  <p><input type="text" name="search" placeholder="introduzca texto" value="<%= search %>" /> <input type="submit" value="Buscar" /></p>
</form>
<table>
<% var i; for (i= 0; i < quizes.length; ++i) { %>
<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
    <td><a href="quizes/<%= quizes[i].id %>/edit" class="boton">editar</a></td></tr>
<% } %>
</table>
<a href="/quizes/new" class="boton">Crear pregunta</a>