<form action="" method="get">
  <p><input type="text" name="search" placeholder="introduzca texto" value="<%= search.replace(/"/g, "&quote;").replace(/>/g, "&gt;") %>" /> <input type="submit" value="Buscar" /></p>
</form>
<table>
<% var i; for (i= 0; i < quizes.length; ++i) { %>
<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
</table>