	<h2>Pregunta:</h2>
	<form method="get" action="/quizes/<%= quiz.id %>/answer">
    <p><label for="txtRespuesta"><%= quiz.pregunta %></label><br />
	     <input type="text" name="respuesta" id="txtRespuesta" placeholder="Responda aquí" /></p>
	  <p><input type="submit" value="Responder" /></p>
	</form>
